.controls  {
    [data-nadeos-exporter-controller="overview-form"],
    [data-nadeos-exporter-controller="commissions-form"],
    [data-nadeos-exporter-controller="shrink-form"] {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    form {
            display: flex;
            gap: 1rem;
            .form-select {
                width: auto;
            }
        }
    }
}